.footer {
    background-color: #644B31;
    width: 100%;
    height: 235px;
    align-items: center;
    flex-shrink: 0;
    margin-top: auto;
    display: flex;
    color: white;
    text-align: justify;
}

.footer img {
  padding: 0 0 20px 20px;
}

.footer p {
  padding-left: 20px;
}

.div-texto {
  margin: 0 40px 0 0;
  display: flex;
}

.credito {
  
}

@media only screen and (max-width: 600px) {
  .footer {
    width: 100%;
    height: 675px;
  }
}