.footer {
    background-color: #644B31;
    width: 100%;
    height: 235px;

    flex-shrink: 0;
    margin-top: auto;
}

@media only screen and (max-width: 600px) {
  .footer {
    width: 100%;
    height: 675px;
  }
}