.topbar {
  display: none;
}
.sidebar {
    display: flex;
    background-color: #C58852;

    width:  18.229%;
    height: 100vh;
    max-height: 2160px;

    flex-shrink: 0;
}

.sidebar_right{
  background-color: black;
  width: 15%;
  height: auto;
}

.sidebar_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    width: 85%;  
}

.sidebar_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0.781%;
    width: 90%;
    height: 18.07vh;  
}

.logo_hartat {
  margin-top: 15%;
  width: 100%;
  height: 100%;
}

.sidebar_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    width: 100%;
    height: 50vh; 
}

.sidebar_menu_item {
  background: none;
  border: none;
  height: 6.923vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 6.723%;
}

.sidebar_menu_item:hover{
  background-color: #46140A;
  cursor: pointer;
}

.sidebar_menu_item:hover .text_button{
  color: white; 
  cursor: pointer;
}

span{
  color: #46140A;
  font-size: 1.5625vw;
}

.separador{
  height: 0.1563vw;
  width: 80%;
  background-color: #9A6A40;
  margin-left: 1.0417vw;
}

.text_button{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3021vw;
}

.sidebar_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.sidebar_contato{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.sidebar_icons a{
  color: #000000;
  font-size: 1.5625vw;
  margin-right: 0.7813vw;
}

.sidebar_info{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
  width: 100%;
}

.sidebar_info p{
  font-family: 'Ubuntu', sans-serif;
  font-size:  0.9375vw!important;
  color: #000000;   
}

@media only screen and (max-width: 900px) {
  .sidebar {
    display:none;
  }

  .topbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
  }

  .topbar_up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9vh;
    background-color: #C58852;
  }

  .topbar_logo{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: auto;
    height: 100%;
    margin-left: 0;
  }

  .top_logo_hartat{
    width: auto;
    height: 80%;
  }

  .options{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    background: none;
    border: none; 
  }

  .options_button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .options_button i{
    color: #1e1e1e;
    max-width: 9.62vw;
  }

  .topbar_detail {
    background-color: #C58852;
    height: auto;
    width: 100%;
  }

  .topbar_detail img{
    width: 100%;
    height: 100%;

  }
}