.sidebar {
    display: flex;
    background-color: #C58852;

    width: 260px;
    height: 100vh;

    flex-shrink: 0;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: 100px;
  }
}