@font-face {
  font-family: 'Noto Serif';
  src: url('./assets/NotoSerif.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/Inter.woff2') format('woff2');
}

:root {
  --primary-background-color: #FFF6ED;
  --secondary-background-color: #FFDBB8;
  --text-color: #3D2520;
  --primary-color: #C58852;
  --secondary-color: #644B31;
  --accent-color: #45A945;
}

:root, p {
    font-family: 'Inter';
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1 {
    font-family: 'Noto Serif';
    font-size: 36px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin: 10px 0;
}

h2, button {
    font-family: 'Inter';
    font-size: 24px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin: 5px 0;
}

body, html, #root {
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    user-select: none;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 32px !important;
  }

  h2 {
    font-size: 20px !important;
  }

  :root, p {
    font-size: 16px !important;
  }
}